/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "NorseBold";
  src: url(/Norse-Bold.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.mainContainer {
  /* border: 2px solid black; */
  /* background-color: aquamarine; */
  height: 100vh;
  width: 100vw;
  display: flex;
}

.mainContainerLeftBox {
  /* background-color: blue; */
  height: 100%;
  width: 35%;
  padding-top: 7.8%;
}

.mainContainerLeftBoxTextImage {
  background-color: black;
  z-index: 1;
  opacity: 0.1;
  height: 20%;
  width: 100%;
}

.mainContainerRightBox {
  /* border: 2px solid black; */
  background-color: blueviolet;
  height: 100%;
  width: 65%;
}

.rightBoxUpperSection {
  background-color: rgb(238, 237, 237);
  height: 33.3%;
  padding: 75px 20px;
  font-size: large;
  font-weight: bold;
}

.info1 {
  margin-bottom: 25px;
}

.rightBoxMiddleSection {
  background-color: white;
  height: 33.3%;
}

.rightBoxLowerSection {
  background-color: rgb(238, 237, 237);
  height: 33.3%;
}
