/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "NorseBold";
  src: url(/Norse-Bold.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.mainContainerLeftBox {
  height: 100%;
  width: 35%;
}

#backImage {
  width: 100%;
  height: 730px;
  position: relative;
}

.mainContainerLeftBoxTextImage {
  background-color: black;
  z-index: 1;
  opacity: 0.5;
  height: 20%;
  width: 35%;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#odinLogo {
  width: 25%;
}

.mainContainerRightBox {
  height: 100%;
  width: 65%;
}

.rightBoxUpperSection {
  background-color: rgb(238, 237, 237);
  height: 33.3%;
  padding: 75px 20px;
  font-size: larger;
  font-weight: 500;
}

.info1 {
  margin-bottom: 25px;
}

.rightBoxMiddleSection {
  background-color: white;
  height: 33.3%;
  display: flex;
}

.middleSectionLeftBox {
  height: 100%;
  width: 35%;
  padding: 20px 20px;
}

.letsStart {
  margin-bottom: 15px;
}

#first_name,
#last_name,
#password {
  margin-bottom: 10px;
  width: 250px;
}

#password:focus {
  border: 2px solid red;
}

#confirm_password:focus {
  border: 2px solid red;
}

#email,
#number,
#confirm_password {
  margin-top: 10px;
  width: 250px;
}

.middleSectionRightBox {
  background-color: white;
  height: 100%;
  width: 50%;
  padding: 6% 2%;
}

.rightBoxLowerSection {
  background-color: rgb(238, 237, 237);
  height: 33.3%;
  padding: 20px 20px;
}

#create_account {
  height: 50px;
  width: 220px;
  margin-bottom: 25px;
  background-color: #596d48;
  color: white;
  border-radius: 10px;
}

#login {
  color: #596d48;
  text-decoration: none;
}
